<ion-view view-title="Account">
  <ion-content>
    <div class="card">
        <label class="item item-input">
          <span class="input-label">First Last</span>
          <input type="text" ng-model="fullname">
        </label>
        <label class="item item-input">
          <span class="input-label">API Key</span>
          <input type="text" ng-model="apikey">
        </label>
        <div class="list">
          <div class="item range range-positive">
            <i class="icon ion-minus"></i>
            <input type="range" name="volume" min="0" max="100" value="15" ng-model="percentage">
            <i class="icon ion-plus"></i>
          </div>
        </div>
        <div style="font-size: 45px; font-weight: light; color: #9d9; text-align: center; height: 1.4em;">{{percentage}}%</div>
    </div>
    <button class="button button-block" style="background-color: #ED7177; border-color: #ED7177" ng-click="storeParseUser()">
Update
    </button>
  </ion-content>
</ion-view>
