<ion-view view-title="Charities">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="charity in charities" type="item-text-wrap" href="#/tab/charities/{{charity.id}}">
        <img ng-src="{{charity.face}}">
        <h2>{{charity.name}}</h2>
        <p>{{charity.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(charity)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
