<ion-view view-title="Savings">
  <ion-content class="padding">
    <style>
        .circle {
            position: relative;
            margin: 7em auto;
            width: 16em; height: 16em;
            border-radius: 50%;
            background: lightgrey;
            text-align: center;
        }
    </style>
    <div class="circle">
        <span style="color: #ED7177; font-size: 90px; position: relative; top: 45%; transform: translateY(-50%);">50%</span>
    </div>
  </ion-content>
</ion-view>
